# .clang-format
BasedOnStyle: Google
IndentWidth: 4            # Set indentation width to 4 spaces
TabWidth: 4               # Set tab width to 4 spaces
UseTab: Never             # Use spaces instead of tabs
BreakBeforeBraces: Attach # Attach braces to the preceding line
AllowShortIfStatementsOnASingleLine: false  # Do not allow short if statements on a single line
ColumnLimit: 80           # Limit line length to 80 characters
IndentCaseLabels: true    # Indent case labels in switch statements
AccessModifierOffset: -4  # Adjust access modifier indentation
NamespaceIndentation: None  # Do not indent namespaces
FixNamespaceComments: true  # Add comments after closing namespaces
